:root {
    --color1: #ef3e36;
    --color2: #191d32;
    --color3: #282F44;
    --color4: #453A49;
    --color5: #008DD5;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

header {
    font-size: 150%;
    background-image: url("https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    border-bottom: 2px solid black;
    
    
}

body {
    
    background-image: url("https://images.pexels.com/photos/1209951/pexels-photo-1209951.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: stretch;
    
}

#header-section {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#self-photo-container {
    height: 150px;
    width: 200px;
    overflow: hidden;
}

#self-photo {
    margin: -150px -50px 100px 0px;
    padding: 10px;
    min-width: 150px;
    max-width: 200px;
    height: auto;
}

h1 {
    color: whitesmoke;
    font-size: 200%;
    text-shadow: 3px 3px var(--color3);
}

#nav-ul {
    display: flex;
    flex-direction: row;
    list-style: circle;
    
}

#nav-ul li {
    margin-right: 30px;
}

#nav-ul li:hover {
    background-color: var(--color4);
}

main {
    padding: 30px;
        
}

.main-box {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

h2 {
    font-size: 90%;
    text-align: center;
    margin-right: 20px;  
    color: black;
    text-shadow: 
    width: 150px;

}
#about-me {
    border: 2px solid black;
    background-image: url("https://images.pexels.com/photos/1260727/pexels-photo-1260727.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}

#about-me2 {
    overflow:hidden;
    width: 50%;
}

#about-me-img {
    margin: 0px 0px -100px -100px;    
    
}

#aboutmecontent {
    width: 80%;
}

.article-content {   
    font-size: 32px;
    color: black;
    
}

p {
    font-size: 60%;
    margin: 15px;
}

#portfolio {
    width: 60%;
    margin: 0 auto;
    
}

#portfolio-img {
    height: auto;
    width: 100%;
    filter: drop-shadow(0.25rem 0.25rem 0.5rem #000000)
}

#work-box {
    
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.my-work-img {
    margin: 12px;
    width: 600px;
    height: auto;
    filter: drop-shadow(0.25rem 0.25rem 0.5rem #000000); 
}

.my-work-img:hover {
    opacity: 80%;
    width: 610px;
    height: auto;
}

#contactbox {
    background-image: url("https://cdn.pixabay.com/photo/2016/07/08/13/37/texture-1504364__480.jpg");
    background-size: cover;
}

.contact {
    font-size: 75%;
}

footer {
    font-size: 200%;
    background-image: url("https://cdn.pixabay.com/photo/2016/07/08/13/37/texture-1504364__480.jpg");
}





@media screen and (max-width: 768px) {

    h1 {
        font-size:100%;
    }
    h2 {
        margin-right: 10px;
        font-size: 75%;
    }

    #self-photo-container {
        overflow: visible;
        
    }
    #self-photo {
        height: 150px;
        width: auto;
        margin: 0;
        border-radius: 100px;
    }
    
    #nav-ul {
        flex-direction: column;
        
    }
    #nav-ul li {
        font-size: 75%;
        padding-bottom: 20px;
    }
    .article-content {
        font-size: 70%;
    }

    .contact {
        font-size: 40%;
    }
}